/* Git repo: cd "Mine dokumenter"/Dropbox/HTML5-Reset/ */

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #fff;}

a {
  color: #fff;
  -webkit-transition: color .4s ease-in-out;
     -moz-transition: color .4s ease-in-out;
       -o-transition: color .4s ease-in-out;
          transition: color .4s ease-in-out;
  -webkit-transition: background-color .4s ease-in-out;
     -moz-transition: background-color .4s ease-in-out;
       -o-transition: background-color .4s ease-in-out;
          transition: background-color .4s ease-in-out;
}

a:hover {color: #fe6638;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: brown; text-shadow: none;}
::selection {background: #fcd700; color: brown; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


/* 1 ROOT 					============================================================================= */

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
	 font: 13px Helmet, Freesans, sans-serif;
	 background: url(../img/blue_splash.png) -80px 0px no-repeat #80c1d6;
	 
	 }

.wrapper {
	background: url(../img/blue_texture.png) 0 0 repeat;
	 }
	 
	 
/* 2 HEADINGS 				============================================================================= */

/* headinger i navigasjon */
h1 {
	 font-size: 53px;
	 line-height: 97%;
	 text-shadow: #fff 2px 4px 0px;
	 outline: 0px solid red;
	 }
	 
header h2{
	 font-size: 22px;
	 line-height: 109%;
}
	 
header nav a {
	 font-size: 18px;
	 line-height: 1;
	 }

/* headinger i seksjonene */
#obstacles h2, #prizes h2, #contestant h2 {
	font-size: 40px;
	line-height: 1.25;
	background: url(../img/checker_stripe_full.gif) 100% 8px no-repeat transparent;
	outline: 0px solid red;
	text-shadow: hsla(0, 0%, 0%, 0.2) 3px 5px 0px;
}

#contestant h2 {
	background: url(../img/checker_stripe_small.gif) 100% 8px no-repeat transparent;
}

#obstacles ul h3, #prizes h3 {
	font-size: 14px;
	line-height: 1;
}

/* overskrifter til det store feature-bildet */
#feature_obstacle h3 {
	font-size: 40px;
	line-height: 1.49;
	text-shadow: hsla(0, 0%, 0%, 0.2) 3px 5px 0px;
}

#feature_obstacle h4 {
	font-size: 21px;
	line-height: 1.33;
	text-shadow: hsla(0, 0%, 0%, 0.2) 3px 5px 0px;
}

#contestant figcaption {
	font-size: 40px;
	line-height: 1.26;
	text-shadow: hsla(0, 0%, 0%, 0.2) 3px 5px 0px;
}

footer h2, footer h3{
	font-size: 20px;
	line-height: 1.2;
	
}

/* 3 TYPOGRAPHY 			============================================================================= */

@font-face { 
    font-family: 'DIGITALDREAMFAT-webfont'; 
    src: url('../fonts/DIGITALDREAMFAT-webfont.eot'); 
    src: local('☺'),
    url('../fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
    url('../fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'), 
	url('../fonts/DIGITALDREAMFAT-webfont.svg#DIGITALDREAMFAT-webfont') format('svg'); 
}

@font-face { 
    font-family: 'KomikaTitle-Paint-webfont'; 
    src: url('../fonts/KomikaTitle-Paint-webfont.eot'); 
    src: local('☺'),
    url('../fonts/KomikaTitle-Paint-webfont.woff') format('woff'),
    url('../fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'), 
	url('../fonts/KomikaTitle-Paint-webfont.svg#KomikaTitle-Paint-webfont') format('svg'); 
}

@font-face { 
    font-family: 'KomikaTitle-Wide-webfont'; 
    src: url('../fonts/KomikaTitle-Wide-webfont.eot'); 
    src: local('☺'),
    url('../fonts/KomikaTitle-Wide-webfont.woff') format('woff'),
    url('../fonts/KomikaTitle-Wide-webfont.ttf') format('truetype'), 
	url('../fonts/KomikaTitle-Wide-webfont.svg#KomikaTitle-Wide-webfont') format('svg'); 
}

@font-face { 
    font-family: 'OpenSans-Semibold-webfont'; 
    src: url('../fonts/OpenSans-Semibold-webfont.eot'); 
    src: local('☺'),
    url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), 
	url('../fonts/OpenSans-Semibold-webfont.svg#OpenSans-Semibold-webfont') format('svg'); 
}

body {
	 font: 13px OpenSans-Semibold-webfont, sans-serif;

	 }
	 
h1, section h2, section h3, section figure h3, section figure h4,section figure figcaption, section form input, section form select {
	 font-family: KomikaTitle-Paint-webfont, sans-serif;

	 }
	 
section#contestant figure span {
	 font-family: DIGITALDREAMFAT-webfont, sans-serif;

	 }

	 
form input, form select{
	 font-size: 16px;
	 line-height: 18px;
	 }
	 


footer {
	font-size: 14px;
	line-height: 1.29;
}



.text_align_right {
	text-align: right;
}
	 
/* 4 LINKS 					============================================================================= */

a {
	  text-decoration: none;
}

/* 5 FIGURES & IMAGES 		============================================================================= */

img {
	  max-width: 100%;
}


/* 6 TABLES 				============================================================================= */
/* 7 FORMS 					============================================================================= */

#contestant form{
	width: 40.4255319149%; /*380px/940px*/
	float: left;
	outline: 0px solid black;
	
}

#contestant form input#submit{
	margin-top: 38px;
	height: 155px;
	outline: 0px solid red;
	font-size: 26px;
	background: transparent url(../img/slime_entry.png) no-repeat 50% 50%;
	border: 0px;
	-webkit-transform: rotate(-7.5deg);  /* text shadow som brukes på alt annet enn h1 heading */
     -moz-transform: rotate(-7.5deg);  
      -ms-transform: rotate(-7.5deg);  
       -o-transform: rotate(-7.5deg);  
          transform: rotate(-7.5deg);
	text-shadow: hsla(0, 0%, 0%, 0.2) 3px 5px 0px;
	opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
		    transition: all .4s ease-in-out;
}

#contestant form input#submit:hover{
	opacity: 0.75;
	color: #FE6336;
}

#contestant form input{
	width: 100%; /*380px/940px*/
	padding: 12px 0 11px 10px; /* line-height er på 27px*/
	margin-bottom: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fe6336;
	border: 0px;
	
}

div#selects-row {
	width: 100%; /*380px/940px*/
	outline: 0px solid black;
}

#contestant form label.custom-select{
	position: relative;
    display: inline-block;
	outline: 0px solid red;
}

#contestant form select{
	width: 220px; /*380px/940px*/
	height: auto;
	padding: 11px 0 10px 10px; /* justerer paddingen for å sentrere teksten i elementet */
	position: relative;
    display: inline-block;
	margin-bottom: 16px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	background-color: #fe6336;
	border: 0px;
}

#contestant form select#gender{
	width: 139px; /*380px/940px*/
}

#contestant form label.aside{
	float: right;
	margin-right: -9px; /* alignment 10px for å gjøre elementet 10px større som input-elementene med deres padding-left: 10px width: 100%. Trekker fra 1px fordi elementet som holder custom control icon bidrar med 1px */
}

.custom-select select {
    outline:none; /* remove focus ring from Webkit */  
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    }

/* for Webkit's CSS-only solution to replace native control -webkit-appearance: none  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
        .custom-select select {
            padding-right:51px;    
        }
    }
    
/* Since we removed the default focus styles, we have to add our own */
.custom-select select:focus {
        -webkit-box-shadow: 0 0 3px 1px #c00;
        -moz-box-shadow: 0 0 3px 1px #c00;
        box-shadow: 0 0 3px 1px #c00;
    }
    
/* Select arrow styling right: position to cover native drowdown control */
.custom-select:after {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
	display: block;
    width: 51px;
	height: 51px;
    background: transparent url(../img/form_arrow.png) no-repeat;
    pointer-events:none;
    }
    
.no-pointer-events .custom-select:after {
        content: none;
    }
	




/* 8 HEADER 				============================================================================= */

header {
	  
}

/* padding som skal holde på logoen */

header hgroup{
	  padding-top: 506px;
	  background: transparent url(../img/contest_logo.png) 46% 41px no-repeat;
	  
}

header h1{
	  color: #fe6537;
	  text-align: center;
	  
}

header h2{
	 text-align: center;
	 margin: 26px 0 80px 0;
	  
}

header hgroup {
	 max-width: 940px;
	 position:relative;
}

/* just to move the grid during page writing */

header hgroup span {
	 left: 0;
	 right: 0;
	 bottom: 0px;
	 top: 0px;
	 position: absolute;
	 background: url(../img/xgrid.png) 0 -600px no-repeat;
	 z-index: 2;
	  
}



/* 9 LAYOUT 				============================================================================= */
.wrapper {
	outline: 0px solid brown; 
}

.float_right {
	float: right; 
}


/* 9 NAVIGATION				============================================================================= */

nav{
	  height: 32px;
	  background-color: #fdfdfd;
	  background-color: hsla(0,0%,99%, .1);
	  
}

nav ul {
	  margin: 0 auto;
	  padding-top: 6px;
	  text-align: center;
}

nav ul li {
	   display:inline;
	   padding-right: 57px;
	   vertical-align: middle;
	
}

nav ul li:last-child {
	   padding-right: 0;
	
}


/* 10 CONTENT 				============================================================================= */

/* wrapper som brukes på alle seksjonene */
.section_wrapper, footer {
	   max-width: 940px;
	   padding: 0 10px 50px;
	   margin: 0 auto;
	   outline: 0px solid green;
	   background: url(../img/xgrid.png) 10px 0 no-repeat;
	
}


#obstacles {
	background: url(../img/orange_border_tile.png) 0 bottom repeat-x, url(../img/orange_border_tile.png) 0 0 repeat-x, url(../img/orange_texture.png) 0 0 repeat #fe6638;
	padding-top: 45px;
	
}

/* spacing ned til innholdet */
#obstacles h2 {
	margin-bottom: 62px;
	
}

#obstacles ul {
	width: 52.1276595745%; /* 490px/940px */
	float: left;
	
}

#obstacles ul li {
	width: 44.8979591837%; /* 220px/490*/
	margin-bottom: 20px;
	margin-right: 4.0816326531%; /* 20px/490px */
	float: left;
	
}

#obstacles ul li a {
	display: block;
	background-color: #80b238;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

#obstacles ul li a:hover {
	background-color: #699031;	
}

#obstacles ul li figure{
	margin: 0 auto;
	outline: 0px solid red;
	text-align: center;
	
}

#obstacles ul li figure img{
	margin: 10px auto 10px;
	outline: 0px solid red;
	
}

#obstacles ul li figure #tank_img {
	margin-top: 35px; /* bildet er 152px høyt - 25px ekstra for å gjøre elementet 221px høyt i forhold til default verdier: fra selektor #obstacles ul li figure img */
	outline: 0px solid red;
	
}

#obstacles ul li figure #slide_img {
	margin-top: 19px; /* bildet er 168 px høyt - 9px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 0px solid red;
	
}

#obstacles ul li figure #wheel_img {
	margin: 10px auto 23px; /* bildet er 164 px høyt - 13px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 0px solid red;
	
}

#obstacles ul li figure #hatch_img {
	margin: 10px auto 26px; /* bildet er 161 px høyt - 16px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 0px solid red;
	
}

#obstacles ul li figure #pick_it_img {
	margin: 10px auto 26px; /* bildet er 161 px høyt - 16px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 0px solid red;
	
}

#obstacles ul li figure #wringer_img {
	margin: 10px auto 27px; /* bildet er 160 px høyt - 16px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 0px solid red;
	
}

#obstacles ul li figure h3{
	padding-bottom: 10px;
}

#obstacles #feature_obstacle {
	margin-top: 20px;
	width: 42.1276595745%; /* 396px/940px */
	padding-left: 34px;
	float: left;
	
}

#obstacles #feature_obstacle {
	width: 42.1276595745%; /* 396px/940px */
	padding-left: 34px;
	float: left;
	
	
}

#obstacles #feature_obstacle figcaption {
	height: 206px;
	background: transparent url(../img/green_obstacle_splash.png) no-repeat 50% top;
	-webkit-transform: rotate(-7.5deg);  
     -moz-transform: rotate(-7.5deg);  
      -ms-transform: rotate(-7.5deg);  
       -o-transform: rotate(-7.5deg);  
          transform: rotate(-7.5deg);
	outline: 0px solid black;
}

#obstacles #feature_obstacle figcaption hgroup {
	text-align: center;
	padding-top: 15%;
}

#obstacles #feature_obstacle img {
	margin-top: 50px;
	margin-left: 5px;
}

/************ ny seksjon **********************/

#prizes {
	background: url(../img/green_border_tile_c.png) 0 bottom repeat-x ,url(../img/orange_border_tile.png) 0 top repeat-x, url(../img/green_texture.png) 0 0 repeat #80b238;
	padding-top: 50px;
	
}

#prizes h2 {
	margin-top: 13px;
	margin-bottom: 50px;
	
}

#prizes h3 {
	margin-top: 20px;
	text-align: center;
	line-height: 1;
	
}

#prizes ul{
 float: left;
 width: 393px;
 text-align: center;
 padding-top: 39px;
 margin-left: 10.1063829787%; /* (49+46)/940px total width*/
}

#prizes ul#first_prize_column{
 float: left;
 width: 391px;
 text-align: center;
 padding-top: 39px;
 margin-left: 3.6170212766%; /* 34px/940px total width*/
}

#prizes ul li{
 padding-bottom: 62px;
}

#prizes ul#first_prize_column li{
 padding-bottom: 115px;
}

/* justerer spacing ned til neste seksjon */
#prizes ul#first_prize_column li:last-child{
 padding-bottom: 84px;
}

#prizes ul li a img {
       opacity: 1;
	   -webkit-transition: opacity .4s ease-in-out;
		-moz-transition: opacity .4s ease-in-out;
		 -o-transition: opacity .4s ease-in-out;
		  transition: opacity .4s ease-in-out;
       }
	
#prizes ul li a:hover img {
       opacity: 0.5;
       }


/************ ny seksjon **********************/

#contestant {
	background: url(../img/contestant_border_tile.png) 0 0 repeat-x, url(../img/blue_texture.png) 0 0 repeat #80c1d6; /* footer_border_tile er en del av grafikkken som er laget for overgangen mellom prizes og*/
	padding-top: 50px;
	
}

/* spacing ned til innholdet */
#contestant h2 {
	margin-bottom: 50px;
	
}

#contestant figure{
	float: right;
	width: 41.0638297872%; /*386px/940px*/
	padding-right: 30px;
	
}

#contestant figure{
	position: relative;
	
}

#contestant figure span{
	position: absolute;
	left: 20%; /*77px/386 */
	top: 80px;
	font-size: 140px;
	color: #f4ea00;
	text-shadow: hsla(0, 0%, 0%, 1) 7px 11px 0px;
	
}



#contestant figcaption{
	width: 6.2em;
	margin: 54px auto 0;
	
}




/* 11 MAIN 					============================================================================= */



/* 12 COMPLEMENTARY 		============================================================================= */

/* 13 CONTENTINFO 			============================================================================= */

footer {
	background: url(../img/footer_border.png) left top repeat-x, url(../img/xgrid.png) 10px 0 no-repeat;
	background-clip: content-box;
	position: relative;
	text-align: center;
}


footer a.home_page{
	display: block;
	position: absolute;
	left: 42.5531914894%;
	top: -35px;
	opacity: 1;
	-webkit-transition: opacity .4s ease-in-out;
	   -moz-transition: opacity .4s ease-in-out;
		 -o-transition: opacity .4s ease-in-out;
		    transition: opacity .4s ease-in-out;
}

footer a.home_page:hover{
	opacity: 0.6;
}

footer h2{
	padding-top: 60px;
	
}

footer h3{
	padding-top: 34px;
}

footer div#intro{
	width: 640px; /* ((2*300px) + 20px)/940px; */
	margin-left: 160px;
	margin-top: 16px;
}

footer div#intro p{
	float: left;
	width: 300px; /* 300px/620px; */
	padding-right: 20px;
	outline: 0px solid red;
	text-align: left;
	
}

footer div.studio_addresses {
	width: 360px; /* ((2*300px) + 20px)/940px; */
	margin-left: 300px;
	margin-top: 10px;
}

footer div.vcard{
	float: left;
	width: 160px; /* 300px/620px; */
	padding-right: 20px;
	text-align: left;
	outline: 0px solid red;
	
}

footer hr {
       border : 0;
       height : 7px;
       background : url(../img/footer_hr.png) 0 0 repeat-x;
       margin : 40px 0 20px;
       }
	   
footer figcaption {
       text-align: center;
	   padding-bottom: 20px;
       }


footer figure a {
       opacity: 1;
	   -webkit-transition: opacity .4s ease-in-out;
		-moz-transition: opacity .4s ease-in-out;
		 -o-transition: opacity .4s ease-in-out;
		  transition: opacity .4s ease-in-out;
       }
	
footer figure a:hover {
       opacity: 0.5;
       }




/* 14 GLOBAL OBJECTS 		============================================================================= */

/* 15 VENDOR-SPECIFIC 		============================================================================= */

/* 16 MODERNIZR 			============================================================================= */

/* 17 TEMPLATE SPECIFICS 	============================================================================= */



/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media (max-width: 960px) {

nav ul li {
	   padding-right: 20px;	
}

header hgroup h1 {
	line-height: 1.3;
}

} /* ends media queries for max-width: 1100px */



