/* Git repo: cd "Mine dokumenter"/Dropbox/HTML5-Reset/ */

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #fff;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: brown; text-shadow: none;}
::selection {background: #fcd700; color: brown; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


/* 1 ROOT 					============================================================================= */

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
	 font: 13px Helmet, Freesans, sans-serif;
	 background: #80c1d6 url(../img/large_header_logo.png) -80px 0px no-repeat;
	 background: url(../img/large_header_logo.png) -80px 0px no-repeat, url(../img/blue_texture.png) 0 0 repeat #80c1d6 ;
	 }
	 
	 
/* 2 HEADINGS 				============================================================================= */

/* headinger i navigasjon */
h1 {
	 font-size: 52px;
	 line-height: 1;
	 text-shadow: #fff 2px 4px 0px;
	 outline: 0px solid red;
	 }
	 
header h2{
	 font-size: 22px;
	 line-height: 1;
}
	 
header nav a {
	 font-size: 18px;
	 line-height: 1;
	 }

/* headinger i seksjonene */
#obstacles h2, #prizes h2, #contestant h2 {
	font-size: 40px;
	line-height: 1.25;
	background: url(../img/checker_stripe_full.gif) 300px 8px no-repeat transparent;
	outline: 1px solid red;
	text-shadow: hsla(0, 0%, 0%, 0.2) 3px 5px 0px;
}

#obstacles ul h3, #prizes h3 {
	font-size: 14px;
	line-height: 1;
}

/* overskrifter til det store feature-bildet */
#feature_obstacle h3 {
	font-size: 40px;
	line-height: 1.49;
	text-shadow: hsla(0, 0%, 0%, 0.2) 3px 5px 0px;
}

#feature_obstacle h4 {
	font-size: 21px;
	line-height: 1.33;
	text-shadow: hsla(0, 0%, 0%, 0.2) 3px 5px 0px;
}

/* 3 TYPOGRAPHY 			============================================================================= */

@font-face { 
    font-family: 'DIGITALDREAMFAT-webfont'; 
    src: url('../fonts/DIGITALDREAMFAT-webfont.eot'); 
    src: local('☺'),
    url('../fonts/DIGITALDREAMFAT-webfont.woff') format('woff'),
    url('../fonts/DIGITALDREAMFAT-webfont.ttf') format('truetype'), 
	url('../fonts/DIGITALDREAMFAT-webfont.svg#DIGITALDREAMFAT-webfont') format('svg'); 
}

@font-face { 
    font-family: 'KomikaTitle-Paint-webfont'; 
    src: url('../fonts/KomikaTitle-Paint-webfont.eot'); 
    src: local('☺'),
    url('../fonts/KomikaTitle-Paint-webfont.woff') format('woff'),
    url('../fonts/KomikaTitle-Paint-webfont.ttf') format('truetype'), 
	url('../fonts/KomikaTitle-Paint-webfont.svg#KomikaTitle-Paint-webfont') format('svg'); 
}

@font-face { 
    font-family: 'KomikaTitle-Wide-webfont'; 
    src: url('../fonts/KomikaTitle-Wide-webfont.eot'); 
    src: local('☺'),
    url('../fonts/KomikaTitle-Wide-webfont.woff') format('woff'),
    url('../fonts/KomikaTitle-Wide-webfont.ttf') format('truetype'), 
	url('../fonts/KomikaTitle-Wide-webfont.svg#KomikaTitle-Wide-webfont') format('svg'); 
}

@font-face { 
    font-family: 'OpenSans-Semibold-webfont'; 
    src: url('../fonts/OpenSans-Semibold-webfont.eot'); 
    src: local('☺'),
    url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), 
	url('../fonts/OpenSans-Semibold-webfont.svg#OpenSans-Semibold-webfont') format('svg'); 
}

body {
	 font: 13px OpenSans-Semibold-webfont, sans-serif;

	 }
	 
h1, section h2, section h3, section figure h3, section figure h4, section form input {
	 font-family: KomikaTitle-Paint-webfont, sans-serif;

	 }
	 
section#contestant figure span {
	 font-family: DIGITALDREAMFAT-webfont, sans-serif;

	 }


	 
/* 4 LINKS 					============================================================================= */

a {
	  text-decoration: none;
}

/* 5 FIGURES & IMAGES 		============================================================================= */

img {
	  max-width: 100%;
}


/* 6 TABLES 				============================================================================= */
/* 7 FORMS 					============================================================================= */
/* 8 HEADER 				============================================================================= */

header {
	  
}

header hgroup{
	  margin-top: 501px;
	  
}

header h1{
	  color: #fe6537;
	  padding-left: 10px;
	  
}

header h2{
	 text-align: center;
	 padding-left: 10px;
	 margin: 26px 0 80px 0;
	  
}

header hgroup {
	 max-width: 940px;
	 margin-left: auto;
	 margin-right: auto;
	  
}



/* 9 LAYOUT 				============================================================================= */
.wrapper {
		  outline: 0px solid brown;
		  
}
/* 9 NAVIGATION				============================================================================= */

nav{
	  height: 32px;
	  background-color: #fdfdfd;
	  background-color: hsla(0,0%,99%, .1);
	  
}

nav ul {
	  margin: 0 auto;
	  padding-top: 6px;
	  text-align: center;
}

nav ul li {
	   display:inline;
	   padding-right: 1em;
	   vertical-align: middle;
	
}

nav ul li:last-child {
	   padding-right: 0;
	
}


/* 10 CONTENT 				============================================================================= */

/* wrapper som brukes på alle seksjonene */
.section_wrapper, footer {
	   max-width: 940px;
	   padding: 0 10px 50px;
	   margin: 0 auto;
	   outline: 1px solid green;
	   background: url(../img/grid.png) 10px 0 no-repeat
	
}


#obstacles {
	background: url(../img/orange_border_tile.png) 0 bottom repeat-x, url(../img/orange_border_tile.png) 0 0 repeat-x, url(../img/orange_texture.png) 0 0 repeat #fe6638;
	padding-top: 50px;
	
}

/* spacing ned til innholdet */
#obstacles h2 {
	margin-bottom: 50px;
	
}

#obstacles ul {
	width: 52.1276595745%; /* 490px/940px */
	margin-top: 20px;
	float: left;
	
}

#obstacles ul li {
	width: 44.8979591837%; /* 220px/490*/
	margin-bottom: 20px;
	margin-right: 4.0816326531%; /* 20px/490px */
	float: left;
	
}

#obstacles ul li a {
	display: block;
	background-color: #80b238;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

#obstacles ul li figure{
	margin: 0 auto;
	outline: 0px solid red;
	text-align: center;
	
}

#obstacles ul li figure img{
	margin: 10px auto 10px;
	outline: 1px solid red;
	
}

#obstacles ul li figure #tank_img {
	margin-top: 35px; /* bildet er 152px høyt - 25px ekstra for å gjøre elementet 221px høyt i forhold til default verdier: fra selektor #obstacles ul li figure img */
	outline: 1px solid red;
	
}

#obstacles ul li figure #slide_img {
	margin-top: 19px; /* bildet er 168 px høyt - 9px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 1px solid red;
	
}

#obstacles ul li figure #wheel_img {
	margin: 10px auto 23px; /* bildet er 164 px høyt - 13px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 1px solid red;
	
}

#obstacles ul li figure #hatch_img {
	margin: 10px auto 26px; /* bildet er 161 px høyt - 16px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 1px solid red;
	
}

#obstacles ul li figure #pick_it_img {
	margin: 10px auto 26px; /* bildet er 161 px høyt - 16px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 1px solid red;
	
}

#obstacles ul li figure #wringer_img {
	margin: 10px auto 27px; /* bildet er 160 px høyt - 16px ekstra for å gjøre elementet 221px høyt sammenlignet med #obstacles ul li figure img som setter default marginer for alle disse bildene */
	outline: 1px solid red;
	
}

#obstacles ul li figure h3{
	padding-bottom: 10px;
}

#obstacles #feature_obstacle {
	margin-top: 20px;
	width: 42.1276595745%; /* 396px/940px */
	padding-left: 34px;
	float: left;
	
}

#obstacles #feature_obstacle {
	margin-top: 20px;
	width: 42.1276595745%; /* 396px/940px */
	padding-left: 34px;
	float: left;
	
	
}

#obstacles #feature_obstacle figcaption {
	
  -webkit-transform: rotate(-7.5deg);  
     -moz-transform: rotate(-7.5deg);  
      -ms-transform: rotate(-7.5deg);  
       -o-transform: rotate(-7.5deg);  
          transform: rotate(-7.5deg);
	outline: 1px solid black;
}

#obstacles #feature_obstacle figcaption hgroup {
	text-align: center;
	margin-bottom: 50px;
}

#obstacles #feature_obstacle img {
	margin-left: 5px;
}

/************ ny seksjon **********************/

#prizes {
	background: url(../img/green_border_tile_c.png) 0 bottom repeat-x ,url(../img/orange_border_tile.png) 0 top repeat-x, url(../img/green_texture.png) 0 0 repeat #80b238;
	padding-top: 50px;
	
}

#prizes h2 {
	margin-bottom: 50px;
	
}

#prizes h3 {
	margin-top: 20px;
	text-align: center;
	line-height: 1;
	
}

#prizes li {
 display: inline-block;
 vertical-align: top;
 text-align: center;
 padding-top: 80px;
}

#prizes .prize_wide {
 width: 48.9361702128%;  /* 460px/940px */
}

#prizes .prize_normal {
 width: 42.1276595745%;  /* 396px/940px */
 margin-left: 54px;
}

/************ ny seksjon **********************/

#contestant {
	background: url(../img/footer_border_tile.png) 0 0 repeat-x, url(../img/blue_texture.png) 0 0 repeat #80c1d6;
	padding-top: 50px;
	
}

/* spacing ned til innholdet */
#contestant h2 {
	margin-bottom: 50px;
	
}

#contestant figure{
	float: right;
	
}

#contestant form{
	width: 40.4255319149%; /*380px/940px*/
	float: left;
	outline: 1px solid black;
	
}

#contestant form input{
	width: 100%; /*380px/940px*/
	height: 50px;
	padding-left: 10px;
	margin-bottom: 16px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	line-height: 50px;
	background-color: #fe6336;
	border: 0px;
	
}


/* 11 MAIN 					============================================================================= */



/* 12 COMPLEMENTARY 		============================================================================= */

/* 13 CONTENTINFO 			============================================================================= */

/* 14 GLOBAL OBJECTS 		============================================================================= */

/* 15 VENDOR-SPECIFIC 		============================================================================= */

/* 16 MODERNIZR 			============================================================================= */

/* 17 TEMPLATE SPECIFICS 	============================================================================= */



/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

